In [ ]:
QUES 1  :>

A database is an organized collection of data that allows for efficient storage, retrieval, and management of information.
 Databases are typically managed by a Database Management System (DBMS), which provides the tools for users to create, read, update, and delete data.

SQL:>
1)Structured 
2)relational
3)fixed schema
4)ACID compliant (atomicity,consistency,isolation,durability)

NOSQL :>
1)Flexible
2)non-relational
3)dynamic schema
4)BASE compliant (basically available,soft state,eventually consistency)

In [ ]:
QUES 2 :>

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database.

1)CREATE :> used to create new database objects.
ex:
CREATE TABLE customer(
    customerID INT,
    firstname VARCHAR(15),
    email VARCHAR(28)
);

2)DROP :> used to delete existing database objects.
ex:
DROP TABLE customer;

3)ALTER  :> used to modify the structure of an existing database object.
ex:
ALTER TABLE customer ADD phonenumber varchar(20);

4)TRUNCATE :>clears data from a structure but retains it for future use.
ex:
TRUNCATE TABLE customer;

In [ ]:
QUES 3  :>

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for managing data within relational databases.

1)INSERT :> used to add new row of data into a table.
ex:
INSERT INTO employee(employeeID,Fname,Lname,hiredate)
VALUES (1,"jhonny","kumar",'25-10-2024');

2)UPDATE :>used to modify existing data in a table.
ex:
UPDATE employee SET Lname="garg" WHERE employeeID = 1;

3)DELETE :> used to remove rows from a table.
ex:
DELETE FROM employee WHERE employeeID =1;

In [ ]:
QUES 4  :>

DQL stands for Data Query Language, a subset of SQL (Structured Query Language) used to query and retrieve data from a database. 
The primary command in DQL is SELECT.

SELECT :> used to specify which data we want to retrive from the table.

ex:> imagine we have table with name employee with following columns ID,name,department,salary.

SELECT name,salary FROM employee WHERE department ="IT";

In [ ]:
QUES 5 :>

1)PRIMARY KEY :> 
it is a unique identifer for each record in a database table.
it ensures that no two rows have the same key value.

2)FOREIGN KEY :>
it is a field in one table that refers to the primary key in the other table.
It establishes a relationship between the two tables, allowing for the linking of data across them.

In [ ]:
QUES 6  :>

CURSOR() :>The cursor() method creates a new cursor object using the connection object.

ECECUTE() :>The execute() method is called on the cursor object to execute a SQL query.

EX:>
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="user",
    password="password"
)
mycurser = mydb.curser()
mycurser.execute("CREATE DATABASE if not exists test")
mydb.close()

In [ ]:
QUES 7  :> order of execution SQL clause:

FROM: Determines the tables from which to retrieve data.

JOIN: Combines rows from two or more tables based on related columns.

WHERE: Filters rows based on specified conditions.

GROUP BY: Groups rows that have the same values in specified columns into summary rows.

HAVING: Filters groups based on specified conditions.

SELECT: Specifies the columns to be returned in the result set.

DISTINCT: Removes duplicate rows from the result set.

ORDER BY: Sorts the result set based on specified columns.